<a href="https://colab.research.google.com/github/urviparikh/DATA-690-WANG/blob/main/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-06

**Author - Urvi Parikh**

### 1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page:

In [ ]:
import pandas as pd

In [ ]:
import warnings 
warnings.filterwarnings('ignore') # to avoid listing warnings and recommendations within code

### 2. Find out how many HTML tables Pandas retrieves from the web page.

In [ ]:
df = pd.read_html("https://www.genealogybranches.com/censuscosts.html") # read_html directly reads a webpage
len(df)

2

**This means that Pandas read there are 2 HTML tables on the webpage.**

### Find out which dataframe contain the data and use it for further processing.

In [ ]:
df1 = df[0] # the first dataframe containing the first table
df2 = df[1] # the second dataframe containing the second table

In [ ]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [ ]:
df2

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

**Dataframe df1 is the one we will use as it contains the data we need**

### 3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [ ]:
first_row = df1.iloc[0] # to ensure the headers are in the first row
df1 = df1[1:]
df1.columns = first_row

df1.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

In [ ]:
df1.describe() # to obtain the data type, frequency, row numbers

0      Census Year Total Population     Census Cost Average Cost Per Person
count           23               23              23                      23
unique          23               23              23                      23
top           1990        226542199  $2,492,830,000             51.29 cents
freq             1                1               1                       1

In [ ]:
df1.info() # to identify number of columns, null values, data quality

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 868.0+ bytes

**There are 4 columns and 23 rows for each column. No null values are present. Each column type is an object, which means none of them can be integer values only.**

**Data issues**
1. Census year column has value "2010*" and the asterick should be removed.

2. There are two types of values, both in dollars and cents, on the average cost per person column. $ should be removed and values should be consistent with only numbers.

3. Census cost column has dollar signs and billions written out for some of the values and should be removed.

### 5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [ ]:
def cleanse_year(raw_year):
    year = raw_year.replace("*","")
    return year

In [ ]:
cleanse_year("198*2") # testing cleanse_year

'1982'

In [ ]:
cleanse_year("2000*") # testing cleanse_year

'2000'

### 6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [ ]:
df1["Census Year"] = df1["Census Year"].apply(cleanse_year)
df1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

### 7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [ ]:
# Defining and testing functions
# Cleanse_pop for total population
def cleanse_pop(raw_pop):
  return int(raw_pop)

In [ ]:
cleanse_pop("151325798")

151325798

In [ ]:
# Defining and testing Cleanse_cost
def cleanse_cost(raw_cost):
    if "Billion" in raw_cost:
      raw_cost= (raw_cost.strip(" Billion")) + "0" * 9
    cost = raw_cost.lstrip("$").replace(".","").replace(",","")
    return cost

In [ ]:
cleanse_cost("$4.5 Billion")

'45000000000'

In [ ]:
cleanse_cost("$25,117,000")

'25117000'

In [ ]:
cleanse_cost("$833,371")

'833371'

In [ ]:

# Testing column "Average Cost Per Person"

def cleanse_average_cost(raw_avg_cost):
    if "cents" in raw_avg_cost:
        raw_avg_cost = (raw_avg_cost.replace(" cents", ""))
        avg_cost = float(raw_avg_cost)/100
    else:
        avg_cost = raw_avg_cost.strip("$")
    return avg_cost

In [ ]:
cleanse_average_cost("1.24 cents") # testing

0.0124

In [ ]:
cleanse_average_cost("$10.02")

'10.02'

In [ ]:
# Applying the cleansed functions


df1["Total Population"] = df1["Total Population"].apply(cleanse_pop)

df1["Census Cost"] = df1["Census Cost"].apply(cleanse_cost)

df1["Average Cost Per Person"] = df1["Average Cost Per Person"].apply(cleanse_average_cost)


df1

0  Census Year  Total Population  Census Cost Average Cost Per Person
1         1790           3929214        44377                  0.0113
2         1800           5308483        66109                  0.0124
3         1810           7239881       178445                  0.0246
4         1820           9633822       208526                  0.0216
5         1830          12866020       378545                  0.0294
6         1840          17069458       833371                  0.0488
7         1850          23191876      1423351                  0.0614
8         1860          31443321      1969377                  0.0626
9         1870          38558371      3421198                  0.0887
10        1880          50155783      5790678                  0.1154
11        1890          62979766     11547127                  0.1833
12        1900          76303387     11854000                  0.1554
13        1910          91972266     15968000                  0.1707
14        1920         105710620     25117000                  0.2376
15        1930         122775046     40156000                  0.3271
16        1940         131669275     67527000                  0.5129
17        1950         151325798     91462000                  0.6044
18        1960         179323175    127934000                  0.7134
19        1970         203302031    247653000                    1.22
20        1980         226542199   1078488000                    4.76
21        1990         248718301   2492830000                   10.02
22        2000         281421906  45000000000                   15.99
23        2010         308745538  13000000000                   42.11

### 8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [ ]:
df1.to_csv('census_cost_cleansed.csv', index=False)

new_file = pd.read_csv('census_cost_cleansed.csv')

new_file

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906  45000000000                  15.9900
22         2010         308745538  13000000000                  42.1100

### 9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [ ]:
new_file.shape

(23, 4)

**The rows and columns are in tact and consistent.**

In [ ]:
new_file.isnull().any()

Census Year                False
Total Population           False
Census Cost                False
Average Cost Per Person    False
dtype: bool

**There are no null values and the functions were applied correctly to each row of each column. The data looks clean now.**